:root{
    --black: #000000;
    --white: #FFFFFF;
    --grey: #F1F1F1;
    --green: #0EFA09;
    --red: #FA0909;
    --blue: #3262E0;
    --font-default: 'Montserrat', sans-serif;
    --big-font: 62px;
    --descr-font: 24px;
    --action-font: 32px;
    --mid-font: 16px;
    --small-font: 12px;
    --medium-font: 48px;

    --mov-big-font: 40px;
    --mov-small-font: 10px;
}

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: var(--font-default);
}

.navbar{
    background-color: var(--black);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 9vh;
}

.logo{
    height: 100%;
}

.logo > img{
    max-height: 100%;
}

.nav-options{
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    justify-content: space-evenly;
    font-size: var(--small-font);
    text-transform: uppercase;
}

.nav-option > a{
    padding-right: 24px;
    text-decoration: none;
    color: var(--white);
}

.burger{
    display: none;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--grey);
    height: 3rem;
}

.contact{
    min-height: calc(91vh - 9rem);
    background: url("images/contacto.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding: 3rem 120px 3rem 120px;
}

.cont-title{
    font-size: var(--big-font);
    font-weight: bold;
    text-transform: capitalize;
    width: fit-content;
    color: var(--white);
}

.cont-form{
    display: flex;
    flex-flow: column wrap;
}

.cont-form > input, .cont-form > textarea{
    width: 600px;
    background-color: var(--grey);
    color: var(--black);
    font-size: var(--descr-font);
    font-family: var(--font-default);
    border: none;
    border-radius: 16px;
    height: 40px;
    padding: 16px 24px 16px 24px;
}

.cont-form > textarea{
    height: 160px;
}

.send{
    width: fit-content;
    background: none;
    text-transform: capitalize;
    border: 3px solid var(--white);
    padding: 16px 24px 16px 24px;
    color: var(--white);
    font-size: var(--action-font);
    font-weight: bold;
    text-align: center;
}

.separator{
    width: 650px;
    height: 2px;
    background-color: var(--white);
}