:root {
    --white-darken: #F2F2F2;
    --black: #0808084d;
    --orange: #ff9b04;
    --grey-light:#E9EFE7;
    --font-primary: 'Montserrat', sans-serif;
}

*,
*:after,
*:before {
    box-sizing: border-box;
    margin: 0;
}
body {
    font-family: var(--font-primary);
    font-weight: 300;
    font-size: 12px;
}



.navbar{
    background-color: black;
    color: aliceblue;
}

.quizzez{
  display:flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background-color: var(--grey-light);
  flex-wrap: wrap;
}

.logo{
    width: 10rem;
    height: auto;
}

.hero-banner{
    position: relative;
    height: 20rem;
    background-size: cover;
    background-size: cover;
    box-shadow:inset 0 0 0 2000px var(--black);
}


.hero-banner h1{
  color: white;
}
.quizz-card {
    max-width: 300px;
    min-height: max-content;
    background-color: white;
    border: 1px solid seashell;
    margin: 1rem;
    overflow: hidden;
  }
  
  .quizz-card .quizz-card-figure{
    width: 100%;
    height: 200px;
  }
  
  .quizz-card .quizz-card-figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .quizz-card .quizz-card-content p{
    margin: 1rem 0 ;
  }

  .quizz-card .quizz-card-content span {
    display: block;
    font-weight: bold;
    color: #3262E0;
    margin-bottom: .5rem;

  }
  
  .art{
    margin: auto;
    align-items: center;
  }

  .art-card .art-card-figure {
    height: 300px;
  }

  .art-card .art-card-figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  

  .art-card{
    max-width: 100%;
    min-height: max-content;
    display: flex;
    margin: 2rem;
  }

  