:root {
    --black: #000000;
    --white: #FFFFFF;
    --dark: #0808084d;
    --grey-light:#E9EFE7;
    --grey: #F1F1F1;
    --blue: #3262E0;
    --font-primary: 'Montserrat', sans-serif;
    --small-font: 12px;
    --title-art-font:16px;
    --action-font: 20px;
    --descr-font: 24px;
    --medium-font: 48px;
}

*,
*:after,
*:before {
    box-sizing: border-box;
    margin: 0;
}
body {
    font-family: var(--font-primary);
    font-weight: 300;
    font-size: var(--small-font);
    line-height: 1.75;
}


header{
  position: relative;
}


.navbar{
  background-color: var(--black);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 9vh;
}

.logo{
  height: 100%;
}

.logo > img{
  max-height: 100%;
}

.nav-options{
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  justify-content: space-evenly;
  font-size: var(--small-font);
  text-transform: uppercase;
}

.nav-option > a{
  padding-right: 24px;
  text-decoration: none;
  color: var(--white);
}

.burger{
  display: none;
}

.quizz-card .quizz-card-figure img, 
.art-card .art-card-figure img, .product-card .product-card-figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-banner{
  display:flex;
  align-items: center;
  justify-content: center;
  height: 15rem;
  background: url("images/back-serv.jpg");
  background-position-y: -6rem;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  box-shadow:inset 0 0 0 2000px var(--dark);
}

.hero-banner h1{
  color: white;
  font-weight: bold;
  font-size: var(--medium-font);
}

.shop{
  background-color: var(--grey-light);
  padding: 2rem;
}

.sect-quiz h2, .sect-art h2, .shop h2{
  text-align: center;
  font-weight: 300;
  font-size: var(--descr-font);
  margin: auto auto 2rem auto;
  text-transform: uppercase;
}

.quizzes, .products, .arts, .ftr{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

  .quizz-card {
    max-width: 300px;
    min-height: max-content;
    background-color: white;
    margin: 1rem;
    overflow: hidden;
  }
  
  .quizz-card .quizz-card-figure{
    width: 100%;
    height: 200px;
  }
  
  .quizz-card .quizz-card-content p{
    margin: 1rem 0 ;
  }

  .quizz-card .quizz-card-content span, 
  .art-card .art-card-content span {
    display: block;
    font-weight: bold;
    margin-bottom: .5rem;
  }

  .quizz-card .quizz-card-content span a, 
  .art-card .art-card-content span a,
  .product-card-content span a{
    text-decoration: none;
    color: var(--blue);
  }

  .btn{
    text-decoration: none;
    color: var(--blue);
    display: block;
    text-align: end;
    font-size: var(--action-font);
    font-weight: bold;
    margin: 2rem 10rem;
  }
  
  .sect-art, .sect-quiz{
    padding: 2rem;
  }

  .arts{
    max-width: 1300px;
    padding: 2rem;
    flex-direction: column;
    margin: auto;
  }

  .art-card{
      max-width: 75%;
      display: flex;
      background-color: white;
      overflow: hidden;
  }

  .art-card .art-card-figure {
    width: 50%;
    height: 16rem;
  }

  .art-card-content{
    width: 50%;
    margin: auto 0;
    padding: 1rem;
  }

  .art-card-content h1{
    font-weight: bold;
    font-size: var(--title-art-font);
    text-transform: uppercase;
  }

  .art-card-content p{
    margin: 2rem auto;
  }

  .art-card-reverse{
    display: flex;
    flex-direction: row-reverse;
  }

  .art-card-reverse .art-card-content{
    padding-left: 0;
  }

  .product-card{
      max-width: 200px;
      min-height: max-content;
      background-color: white;
      border: 1px solid seashell;
      margin: 1rem 2rem;
      border-radius: 8px;
      overflow: hidden;
  }

  .product-card .product-card-figure{
    width: 100%;
    height: 150px;
  }
  
  .product-card .product-card-content {
    padding: 1rem ;
  }

  .product-card .product-card-content p{
    margin: 8px auto;
  }

  .product-card .product-card-content strong{
    text-transform: uppercase;
  }

  .product-card .product-card-content span {
    display: block;
    font-weight: bold;
    text-align: end;
    text-transform: uppercase;
  }

  .ftr{
    background-color: var(--grey);
    height: 3rem;
  }

  @media only screen and (max-width: 768px) and (min-width: 426px){

    .hero-banner{
      background-position-y: -1rem;
    }
    
    .navbar .nav-options,
    .quizzes .quizz-card:nth-child(n+3),
    .arts .art-card:nth-child(n+3),
    .art-card .art-card-content p,
    .products .product-card:nth-child(n+5)
    {
      display: none;
    }

    .burger{
      display: flex;
      width: fit-content;
      height: auto;
      margin-right: 16px;
    }

    .burger img{
        width: 48px;
        padding-right: 16px;
    }

    
    
    .quizz-card{
      min-width: 400px;
    }

    .art-card .art-card-content{
      padding: 1rem;
    }

    .arts .art-card{
      position: relative;
      min-height: 20rem;
    }

    .art-card .art-card-content{
      position: absolute;
      width: 100%;
      bottom: 0;
      margin-bottom: 2rem;
    }

    .art-card .art-card-content h1{
      color: white;
      font-size: var(--descr-font);
      margin-bottom: 2rem;
    }

    .art-card .art-card-content span{
      position: absolute;
      right: 0;
    }

    .art-card .art-card-figure{
      width: 100%;
    }

    .art-card-reverse{
      flex-direction: row;
    }

    .product-card{
      min-width: 230px;
    }

    .btn{
      margin: 1rem 3rem;
    }
  }

  @media only screen and (max-width: 425px){
    .navbar .nav-options,
    .quizzes .quizz-card:nth-child(n+4),
    .products .product-card:nth-child(n+5)
    {
      display: none;
    }

    .logo{
      content: url("images/logos/profile.png");
    }

    .burger{
      display: flex;
      width: fit-content;
      height: auto;
      margin-right: 16px;
    }

    .burger img{
        width: 48px;
        padding-right: 16px;
    }

    .hero-banner{
      height: 8rem;
      background-position: center 0rem;
      background-size: 600px;
    }
    .hero-banner h1{
      font-size: var(--descr-font);
    }

    .btn{
      margin: auto;
      text-align: center;
    }

    .sect-quiz, .sect-art, .shop{
      padding: 2rem 0 2rem 0;
    }

    .sect-quiz h2, .sect-art h2, .shop h2{
      font-size: var(--title-art-font);
    }

    .quizz-card{
      max-width: 100%;
      margin: 12px 0;
      position: relative;
      border-bottom: 2px solid seashell;
      height: 14rem;
    }

    .quizz-card .quizz-card-content{
      margin: 0 2rem;
      position: absolute;
      bottom: 0;
    }

    .quizz-card .quizz-card-content p{
      color: white;
    }

    .quizz-card .quizz-card-content span{
      text-align: center;
      margin: 0;
    }

    .arts{
      padding: 0;
    }
    
    .art-card-reverse{
      flex-direction: row;
    }

    .arts .art-card{
      min-width: 100%;
      flex-direction: column;
      margin: 8px 0;
      border-bottom: 2px solid seashell;
    }

    .art-card .art-card-figure{
      width: 100%;
    }

    .art-card .art-card-content{
      width: 100%;
      padding: 1rem;
    }

    .art-card-content span{
      display: block;
      text-align: end;
      margin-right: 1rem;
    }
  
    .art-card-content p{
      margin: 12px auto;
    }

    .shop{
      flex-wrap: wrap;
    }

    .product-card{
      max-width: 180px;
      margin: 8px;
    }
    
  }