:root{
    --black: #000000;
    --white: #FFFFFF;
    --grey: #F1F1F1;
    --green: #0EFA09;
    --red: #FA0909;
    --blue: #3262E0;
    --font-default: 'Montserrat', sans-serif;
    --big-font: 62px;
    --descr-font: 24px;
    --action-font: 32px;
    --mid-font: 16px;
    --small-font: 12px;
    --medium-font: 48px;

    --mov-big-font: 40px;
    --mov-small-font: 10px;
}

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: var(--font-default);
}

.navbar{
    background-color: var(--black);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 9vh;
}

.logo{
    height: 100%;
}

.logo > img{
    max-height: 100%;
}

.nav-options{
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    justify-content: space-evenly;
    font-size: var(--small-font);
    text-transform: uppercase;
}

.nav-option > a{
    padding-right: 24px;
    text-decoration: none;
    color: var(--white);
}

.burger{
    display: none;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--grey);
    height: 3rem;
}

.banner{
    background: url("images/banner.jpg") center center no-repeat;
    background-size: cover;
    height: 91vh;
    display: flex;
    justify-content: center;
}

.ban-logo{
    width: 50vw;
    position: absolute;
    top: 20%;
}

.ban-logo > img{
    max-width: 100%;
    height: auto;
    content: url("images/logos/default.png");
}

.aboutus{
    min-height: calc(100vh -100px);
    padding: 56px;
}

.au-title{
    font-size: var(--big-font);
}

.au-content{
    width: 60vw;
    padding-top: 18px;
    font-size: var(--descr-font);
    line-height: 2em;
}

.au-subtitle{
    padding-top: 32px;
    padding-bottom: 32px;
    text-align: center;
}

.team{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.card-member{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: var(--mid-font);
}

.cm-image{
    width: 200px;
    height: 200px;
    margin-bottom: 32px;
}

.cm-image > img{
    width: 100%;
    height: 100%;
    border-radius: 100px;
    border: 3px solid var(--black);
}

.quizz{
    height: calc(100vh - 4rem);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 81.77%), url("images/doctors.jpg") center 0% no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: var(--white);
    align-items: flex-end;
    padding-bottom: 4rem;
}

.quizz-title, .art-title, .el-title{
    font-size: var(--big-font);
    font-weight: bold;
    text-transform: uppercase;
    width: 35rem;
}

.quizz-opts{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.gotoservice, .gotoservices{
    color: var(--white);
    font-size: var(--action-font);
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 32px;
    text-align: center;
}

.gotoservice{
    text-transform: uppercase;
    border: 3px solid var(--white);
    padding: 1rem 6rem 1rem 6rem;
}

.gotoservices{
    text-transform: capitalize;
    padding: 5px;
    border-bottom: 3px solid var(--white);
}

.articles{
    height: 100vh;
    background: linear-gradient(269.98deg, #161827 5.05%, rgba(26, 41, 151, 0) 99.18%), url("images/jodie2.png") 15% 0% no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--white);
    align-items: flex-end;
}

.art-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 4rem;
}

.article-desc{
    color: var(--white);
    font-size: var(--descr-font);
    font-weight: 500;
    width: 500px;
    padding-top: 2rem;
    padding-bottom: 3rem;
}

.news{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.new{
    width: 20vw;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.new-img{
    max-width: 100%;
    height: 14vw;
    margin-bottom: 1rem;
}

.new-img > img{
    width: 100%;
    height: 100%;
}

.new-content{
    font-size: var(--small-font);
    max-height: 3rem;
    overflow: hidden;
}

.election{
    height: 36rem;
    background: radial-gradient(40.83% 40.83% at 50% 59.17%, rgba(137, 128, 128, 0.31) 0%, rgba(0, 0, 0, 0.5) 100%), url("images/cybus.jpg");
    background-size: cover;
    color: var(--white);
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    position: relative;
}

.el-title{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 15%;
}

.el-desc{
    font-size: var(--action-font);
    width: 25vw;
    text-align: center;
    position: absolute;
    top: 30%;
}

.contestans{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 80vw;
    position: absolute;
    bottom: 30%;
}

.contestan .cont-name a{
    color: var(--white);
    text-decoration: none;
}

.contestan .percentage{
    display: flex;
    flex-flow: row wrap;
}

.cont-bar{
    height: 24px;
    border-radius: 8px;
    margin-right: 16px;
}

.percentage .opt1{
    width: 240px;
    background: var(--green);
}

.percentage .opt2{
    width: 80px;
    background: var(--red);
}

.cont-percent{
    font-size: var(--descr-font);
}

.election .time-left{
    font-size: var(--action-font);
    position: absolute;
    bottom: 24px;
}

.store{
    min-height: 45vh;
    background-color: var(--grey);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 4rem 2rem 4rem;
}

.store-title, .contestan .cont-name a, .au-title, .au-subtitle{
    font-size: var(--medium-font);
    font-weight: bold;
    text-transform: uppercase;
}

.store-content{
    display: flex;
    flex-flow: row wrap;
    margin-top: 20px;
}

.store-img{
    width: 54vw;
    height: 24rem;
}

.store-img img{
    width: 100%;
    max-height: 100%;
}

.store-card{
    width: 24vw;
    height: calc(24rem - 4rem);
    background-color: var(--white);
    font-size: var(--descr-font);
    padding: 2rem;
    line-height: 40px;
    position: relative;
}

.store-card > .gotoservices{
    color: var(--blue);
    position: absolute;
    bottom: 0%;
    right: 10%;
}

@media screen and (max-width: 768px){
    .nav-options{
        display: none;
    }

    .burger{
        display: flex;
        width: fit-content;
        height: auto;
        margin-right: 16px;

    }

    .burger img{
        width: 48px;
        padding-right: 16px;
    }

    .ban-logo{
        width: 70vw;
        top: 25%;
    }

    .au-title{
        text-align: center;
    }

    .au-content{
        text-align: center;
        width: 100%;
    }

    .quizz{
        background: linear-gradient(180deg, rgba(137, 128, 128, 0.31) 0%, rgba(0, 0, 0, 0.5) 41.67%), url("images/doctors.jpg") 52% 30% no-repeat;
        display: flex;
        flex-direction: column;
        color: var(--white);
        align-items: center;
        justify-content: flex-end;
    }

    .quizz-title{
        margin-bottom: 80px;
    }

    .art-info{
        padding-right: 0px;
    }

    .new{
        width: 35vw;
        margin-top: 40px;
    }
    
    .new-img{
        height: 25vw;
    }

    .election{
        height: 100vh;
    }

    .el-title{
        font-size: var(--medium-font);
    }

    .el-desc{
        width: 85%;
    }

    .store{
        min-height: 45vh;
        padding: 0px;
    }
    
    .store-title{
        margin-top: 4rem;
    }
    
    .store-content{
        flex-flow: column wrap;
        align-items: center;
        margin-top: 20px;
    }
    
    .store-img{
        width: 100vw;
        height: auto;
    }
    
    .store-card{
        width: 80vw;
        height: fit-content;
        font-size: var(--action-font);
        padding: 2vw 10vw 0vw 10vw;
        line-height: 40px;
        position: relative;
        text-align: center;
    }
    
    .store-card > .gotoservices{
        font-size: var(--descr-font);
        position: initial;
        display: block;
        margin-bottom: 0px;
        text-align: end;
    }
}

@media screen and (max-width: 425px){
    .logo{
        content: url("images/logos/profile.png");
    }
    
    .burger img{
        width: 24px;
    }

    .banner{
        background: url("images/banner.jpg") 65% 60% no-repeat;
    }

    .ban-logo{
        width: 90vw;
        content: url("images/logos/cover.png");
        top: 15%;
    }

    .aboutus{
        padding: 40px;
    }

    .au-title{
        text-align: start;
        font-size: var(--mov-big-font);
    }

    .au-content{
        font-size: var(--small-font);
        line-height: 30px;
        text-align: start;
    }

    .au-subtitle{
        font-size: var(--descr-font);
    }

    .card-member{
        font-size: var(--small-font);
    }
    
    .cm-image{
        width: 70px;
        height: 70px;
    }
    
    .quizz-title, .art-title, .el-title{
        font-size: var(--mov-big-font);
        width: 90%;
        text-align: center;
    }

    .gotoservice, .gotoservices{
        font-size: var(--descr-font);
    }
    
    .gotoservice{
        padding: 1rem 2rem 1rem 2rem;
    }

    .articles{
        justify-content: space-around;
        background: linear-gradient(180deg, #161827 0%, rgba(255, 255, 255, 0) 100%), url("images/jodie2.png") 0% 0% no-repeat;
        align-items: center;
        background-blend-mode: multiply, normal;
        background-size: cover;
    }

    .art-title{
        width: 80%;
        padding-top: 20px;
    }
    
    .art-info{
        padding-top: 20px;
    }
    
    .article-desc{
        text-align: center;
        width: 80%;
        padding-top: 2rem;
        padding-bottom: 8rem;
    }

    .art-info .gotoservices{
        margin-bottom: 8rem;
    }

    .news{
        flex-flow: column wrap;
        align-items: center;
    }
    
    .new{
        width: 70vw;
        margin-top: 20px;
    }
    
    .new-img{
        height: 48vw;
    }

    .election{
        height: calc(100vh - 4rem);
        align-items: flex-start;
        padding: 5%;
        background: radial-gradient(45.51% 45.51% at 50% 50%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 86.98%), url("images/cybus.jpg") 30% 0% no-repeat;
        background-size: cover;
    }
    
    .el-title{
        text-align: start;
        top: 5%;
    }
    
    .el-desc{
        font-size: var(--descr-font);
        text-align: start;
        position: absolute;
        top: 20%;
    }
    
    .contestans{
        bottom: 15%;
    }

    .contestan, .contestan .cont-name{
        padding-bottom: 2rem;
    }
    
    .election .time-left{
        align-self: center;
        font-size: var(--mid-font);
        bottom: 5%;
    }
    
    .store-title{
        font-size: var(--action-font);
    }
    
    .store-card{
        font-size: var(--mid-font);
        line-height: 20px;
    }
    
    .store-card > .gotoservices{
        font-size: var(--mov-small-font);
    }
    
}